.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.body--admin {
    background-color: rgb(211, 211, 211);
    height: 100vh;
}