.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.post {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    border-bottom: 1px solid;
}